.booking-page {
@extend .welcome-screen;
background: radial-gradient(#767E81, transparent), url("/images/goth-pool.png");
}

.booking-header-prompt {
  @include headers(4em);
  margin: 1em 0 1em 0
}

.booking-header-userName {
  @include headers(3em);
  margin: 1em 0 1em 0
}



.booking-label-box {
  @include labelInputs();
  input {
    padding: 4em;
    border-radius: 5px;
    align-self: center;
    width: 100%;
    height: 3em;
  }
}

.booking-form-findRooms {
  @include buttons($pop-color-booking, .5em, white)
  width: 50%;
}

.booking-form-roomsAvailable {
  @extend .manager-booking-lightbox;
  margin: 10em;
}

.open-rooms-list {
  @extend .booking-form-roomsAvailable;
}
